@font-face {
    font-family: BebasNeue;
    src: url("assets/BebasNeue.otf") format("opentype");
}
@font-face {
    font-family: BebasNeue;
    font-weight: bold;
    src: url("assets/BebasNeue.otf") format("opentype");
}
* {
  margin: 0;
  font-family: 'BebasNeue', sans-serif;
}
.app {
  background: #111;
}

/* ROW */
.row {
  margin-left: 20px;
  color: white;
}
h2 {
  padding-left: 20px;
}
.slider{
  position: relative;

}
.slider-arrow-left{
  background-clip: content-box;
  padding: 20px 0;
  box-sizing: border-box;
  transition: 400ms all ease-in-out;
  cursor: pointer;
  width: 80px;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.slider-arrow-right{
  padding: 20px 0;
  background-clip: content-box;
  box-sizing: border-box;
  transition: 400ms all ease-in-out;
  cursor: pointer;
  width: 80px;
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.arrow{
  transition: 400ms all ease-in-out;
}
.arrow:hover{
  transition: 400ms all ease-in-out;
  transform: scale(1.5);
}
.slider:hover .slider-arrow-left{
  transition: 400ms all ease-in-out;
  visibility: visible;
}
.slider:hover .slider-arrow-right{
  transition: 400ms all ease-in-out;
  visibility: visible;
}
.slider-arrow-left:hover{
  background: rgba(20,20,20,.5);
  transition: 400ms all ease-in-out;

}
.slider-arrow-right:hover{
  background: rgba(20,20,20,.5);
  transition: 400ms all ease-in-out;

}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0 20px 20px;
  scroll-behavior: smooth;
}
.row-posters::-webkit-scrollbar {
  display: none;
}
.row-poster {
  object-fit: contain;
  width: 100%;
  max-height: 144px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 4px;
}
.row-poster:hover {
  transform: scale(1.08);
}
.row-posterLarge {
  max-height: 320px;
}
.row-posterLarge:hover {
  transform: scale(1.1);
  opacity: 1;
}

.row-arrow-left {
  position: absolute;
  top: 0;
  left: 20px;
  height: 100%;
  width: 32px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.row-arrow-right {
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: 32px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .row-poster {
    max-height: 160px;
  }
  .row-posterLarge {
    max-height: 360px;
  }
}
@media screen and (max-width: 768px) {
  .row-poster {
    max-height: 100px;
  }
  .row-posterLarge {
    max-height: 280px;
  }
}

/* BANNER */

.banner{
    color : white;
    object-fit : contain;
    height : 448px;
}
@media (min-width : 1500px){
    .banner{
        position: relative;
        height: 600px;
    }
    .banner-fadeBottom{
        position:absolute;
        bottom: 0;
        width: 100%;
        height: 40rem;
    }
}
@media(max-width : 768px){
    .banner-contents{
        width: min-content !important;
        padding-left: 2.3rem;
        margin-left: 0px !important;

    }
    .banner-description{
        font-size: 0.8rem !important;
        width: auto !important;
    }
    .info{
        text-align: start;
        padding-right: 1.2rem;
    }
    .space{
        margin-left: 6px;
    }
    .banner-button{
        font-size: 0.8rem !important;
        border-radius: 4px !important;
    }
}
.banner-contents{
    margin-left: 40px;
    padding-top: 140px;
    height : 190px;
}
.banner-title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.5rem;
}
.banner-description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-weight: 500;
    font-size:1rem;
    max-width: 400px;
    height : 80px;
}
.banner-fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
}
.banner-buttons{
    display: flex;
    flex-direction : row;
}
.banner-button{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items : center;
    cursor: pointer;
    outline: none;
    border: none;
    font-size : 1rem;
    font-weight: 700;
    border-radius: 0.2vw;
    padding : 0.4rem 1.8rem 0.4rem 1rem;
    margin-right: 1rem;

}
.banner-button:hover{
    color: #000;
    background-color: rgba(170, 170, 170, 0.9);
    transition: all 0.2s;
}
.play{
    background-color: white;
    color: black;
}
.info{
    background-color: rgba(109,109,110,0.7);
    color : white;
}
.info:hover{
    background-color: rgb(74, 74, 74);
    color:white;
}



.space{
    margin-left: 4px;
}

/* NAV BAR */
.nav{
    position: fixed;
    top : 0;
    width: 100%;
    height :30px;
    z-index : 1;
    padding : 20px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    /*ANIMATION*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav-black{
    background-color: rgb(17, 17, 17);
}
.nav-logo{
    position : fixed;
    left: 40px;
    width: 80px;
    object-fit: contain;
}
.nav-avatar{
    position: fixed;
    right: 40px;
    width : 30px;
    object-fit: contain;
}
